.oh-my-zsh/cache/**
.DS_Store
README.md
zsh/
install.sh
cloud-box-post-provision.sh

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.ssh/config
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}