"*":
  "atom-alignment": {}
  "atom-beautify":
    analytics: false
    css_newline_between_rules: true
    css_preserve_newlines: true
    css_selector_separator_newline: true
  "color-picker":
    triggerKey: "E"
  core:
    customFileTypes:
      "source.jst.html": [
        "HTML (Rails)"
      ]
    disabledPackages: [
      "metrics"
      "vim-mode"
    ]
    followSymlinks: false
    packagesWithKeymapsDisabled: [
      "color-picker"
    ]
    projectHome: "~/Projects"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  docblockr:
    override_js_var: true
  editor:
    fontFamily: "SF Mono"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "de84f68a-e883-fe1d-5e6d-a6bffa0ce707"
  "git-plus": {}
  minimap: {}
  "one-dark-ui": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pigments: {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "terminal-plus":
    core: {}
    style:
      fontFamily: "\"Source Code Pro\""
      theme: "red"
  "tree-view": {}
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
