"*":
  "atom-alignment": {}
  "atom-beautify":
    css:
      preserve_newlines: true
      selector_separator_newline: true
    general:
      _analyticsUserId: "f483312a-77ad-410f-ba8c-67b4810d260d"
      analytics: false
    js:
      indent_size: 2
    less:
      indent_size: 2
  "atom-ternjs":
    useSnippets: true
  "color-picker":
    triggerKey: "E"
  core:
    customFileTypes:
      "source.jst.html": [
        "HTML (Rails)"
      ]
    disabledPackages: [
      "metrics"
      "vim-mode"
      "language-gfm"
      "markdown-scroll-sync"
      "atom-ternjs"
    ]
    followSymlinks: false
    packagesWithKeymapsDisabled: [
      "color-picker"
    ]
    projectHome: "~/Projects"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  docblockr:
    override_js_var: true
  editor:
    fontFamily: "SF Mono"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "de84f68a-e883-fe1d-5e6d-a6bffa0ce707"
  "git-plus":
    general:
      _analyticsUserId: "6de65896-355d-4fff-bc5a-e5578c6fbd76"
  "markdown-writer":
    fileExtension: ".md"
  minimap: {}
  "one-dark-ui": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pigments:
    dismissableReloadNotifications: false
    notifyReloads: false
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "terminal-plus":
    core: {}
    style:
      fontFamily: "\"Source Code Pro\""
      theme: "red"
  "tree-view": {}
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
