"*":
  "exception-reporting":
    userId: "de84f68a-e883-fe1d-5e6d-a6bffa0ce707"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "monokai"
    ]
    followSymlinks: false
  editor:
    invisibles: {}
    fontFamily: "Source Code Pro"
    showIndentGuide: true
  "one-dark-ui": {}
