# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

# For OS X
'.platform-darwin':
  # Pane movement
  'cmd-k f h':  'window:focus-pane-on-left'
  'cmd-k f l':  'window:focus-pane-on-right'
  'cmd-k f k':  'window:focus-pane-above'
  'cmd-k f j':  'window:focus-pane-below'

  # Create an empty split pane
  'cmd-k h':  'pane:split-left'
  'cmd-k l': 'pane:split-right'
  'cmd-k k':    'pane:split-up'
  'cmd-k j':  'pane:split-down'

  # Create a split pane with the current pane item moved into it
  'cmd-k m h':  'pane:split-left-and-move-active-item'
  'cmd-k m l': 'pane:split-right-and-move-active-item'
  'cmd-k m k':    'pane:split-up-and-move-active-item'
  'cmd-k m j':  'pane:split-down-and-move-active-item'

  # Create a split pane with the current pane item duplicated
  'cmd-k d h':  'pane:split-left-and-copy-active-item'
  'cmd-k d l': 'pane:split-right-and-copy-active-item'
  'cmd-k d k':    'pane:split-up-and-copy-active-item'
  'cmd-k d j':  'pane:split-down-and-copy-active-item'

  # Move the current pane item to the target split pane
  'cmd-ctrl-shift-h':  'window:move-active-item-to-pane-on-left'
  'cmd-ctrl-shift-l': 'window:move-active-item-to-pane-on-right'
  'cmd-ctrl-shift-k':    'window:move-active-item-to-pane-above'
  'cmd-ctrl-shift-j':  'window:move-active-item-to-pane-below'

  'cmd-ctrl-c': 'color-picker:open'

# vim-mode-plus
'atom-workspace:not([mini])':
  'ctrl--': 'choose-pane:start'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  '-': 'choose-pane:start'

'atom-text-editor.vim-mode-plus.normal-mode':
  # toggle-setting: t
  # -------------------------
  'space t i': 'user:toggle-show-invisible'
  'space t I': 'editor:toggle-indent-guide'
  'space t w': 'editor:toggle-soft-wrap'
  'space t n': 'editor:toggle-line-numbers'

  # surround: ys
  # -------------------------
  'S': 'vim-mode-plus:surround-smart-word'
  'd s': 'vim-mode-plus:delete-surround-any-pair'
  'c s': 'vim-mode-plus:change-surround-any-pair'
  'y s': 'vim-mode-plus:surround'
  'y s w': 'vim-mode-plus:surround-word'
  'y s m': 'vim-mode-plus:map-surround'

  # transform-string: s
  # -------------------------
  'space s ~': 'vim-mode-plus:toggle-case'
  'space s U': 'vim-mode-plus:upper-case'
  'space s u': 'vim-mode-plus:lower-case'
  'space s c': 'vim-mode-plus:camel-case'
  'space s /': 'vim-mode-plus:toggle-line-comments'
  'space s -': 'vim-mode-plus:dash-case'
  'space s _': 'vim-mode-plus:snake-case'
  'space s r': 'vim-mode-plus:reverse'
  'space s j': 'vim-mode-plus:join-by-input-with-keeping-space'
  'space s s': 'vim-mode-plus:split-string'

'atom-text-editor.vim-mode-plus.insert-mode':
  'ctrl-s': 'vim-mode-plus:surround-smart-word'
  # 'ctrl-o': 'vim-mode-plus:activate-normal-mode-once'

  'ctrl-i': 'cursor-history:prev'
  'ctrl-o': 'cursor-history:prev'

  'ctrl-cmd-c': 'keystroke:delete-current-word'
  # 'j k': 'vim-mode-plus:activate-normal-mode' # jk to escape
  'cmd-f': 'editor:move-to-end-of-word'
  'cmd-b': 'editor:move-to-beginning-of-word'
  'cmd-d': 'editor:delete-to-end-of-word'
  'cmd-m': 'editor:select-word'
  'ctrl-y': 'clip-history:paste'
  'cmd-y': 'clip-history:paste-newer'
  'ctrl-Y': 'clip-history:paste-last'
  'ctrl-.': 'vim-mode-plus:insert-last-inserted'
  'ctrl-{': 'vim-mode-plus:move-to-previous-fold-start'
  'ctrl-}': 'vim-mode-plus:move-to-next-fold-start'

'atom-text-editor.vim-mode-plus.visual-mode':
  'S': 'vim-mode-plus:surround'
  'g I': 'vim-mode-plus:insert-at-start-of-target'
  'I': 'vim-mode-plus:insert-at-start-of-target'
  'space i': 'vim-mode-plus:insert-at-start-of-target'
  'g A': 'vim-mode-plus:insert-at-end-of-target'
  'A': 'vim-mode-plus:insert-at-end-of-target'

  'ctrl-t': 'vim-mode-plus-user:move-selected-text-toggle-overwrite'
  'ctrl-k': 'vim-mode-plus-user:move-selected-text-up'
  'ctrl-j': 'vim-mode-plus-user:move-selected-text-down'
  'ctrl-h': 'vim-mode-plus-user:move-selected-text-left'
  'ctrl-l': 'vim-mode-plus-user:move-selected-text-right'

  'cmd-K': 'vim-mode-plus-user:duplicate-selected-text-up'
  'cmd-J': 'vim-mode-plus-user:duplicate-selected-text-down'
  'cmd-H': 'vim-mode-plus-user:duplicate-selected-text-left'
  'cmd-L': 'vim-mode-plus-user:duplicate-selected-text-right'

'.markdown-preview':
  '-': 'choose-pane:start'
  'j': 'core:move-down'
  'k': 'core:move-up'

# Tree-view navigation
# -------------------------
'.tree-view':
  '-': 'choose-pane:start'
  'g g': 'core:move-to-top'
  'shift-g': 'core:move-to-bottom'
  'ctrl-h': 'focus-pane-or-panel-on-left'
  'ctrl-l': 'focus-pane-or-panel-on-right'

'.platform-darwin .find-and-replace atom-text-editor':
  'ctrl-j': 'focus-pane-or-panel-below'
  'ctrl-k': 'focus-pane-or-panel-above'

'.platform-darwin .project-find atom-text-editor':
  'ctrl-j': 'focus-pane-or-panel-below'
  'ctrl-k': 'focus-pane-or-panel-above'

'.project-folder atom-text-editor[mini]':
  'cmd-enter': 'project-folder:replace'

'atom-text-editor#choose-pane-editor':
  '-': 'choose-pane:last-focused'

'atom-text-editor.vim-mode-plus-search':
  'cmd-enter': 'vim-mode-plus-user:project-find-from-search'
