packages: [
  "advanced-open-file"
  "atom-alignment"
  "atom-beautify"
  "atom-jinja2"
  "autoclose-html"
  "blame"
  "change-case"
  "choose-pane"
  "color-picker"
  "cssbeautify"
  "dash"
  "docblockr"
  "emmet"
  "esformatter"
  "file-icons"
  "git-control"
  "git-plus"
  "git-time-machine"
  "highlight-line"
  "language-applescript"
  "language-javascript-jsx"
  "language-viml"
  "merge-conflicts"
  "minimap"
  "monokai"
  "open-on-cgit"
  "package-sync"
  "pigments"
  "pretty-json"
  "project-plus"
  "tab-control"
  "toggle-quotes"
  "vim-mode"
  "vim-mode-plus"
  "vim-mode-plus-project-find-from-search"
]
